@model ShortUrl.Models.Link


@{
    ViewBag.Title = "Create";

}


    
        @using (Html.BeginForm())
        {
            <br />
            <div class="form-group">
                <h5>Введите строку для сокращения</h5>
                <h6>                    
                    @Html.ValidationMessageFor(x => x.LongURL, "", new { @class = "text-danger" })
                </h6>
                @Html.TextBoxFor(x => x.LongURL, new { @class = "form-control" })                
                <div class="mt-4" >
                    <input type="submit" value="Отправить" class="btn btn-default bg-success" />
                </div>
            </div>
            
        }
   